.preorder--modal {
    position: fixed;
    top: -150%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: var(--black);
    float: left;
    display: none;
    z-index: 9999999999;

    .preorder--modal-link-title {
        margin-bottom: 20px;
    }

    .close-preorder-modal {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
        color: var(--white);
        cursor: pointer;
    }

    .preorder--modal-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
    }

    .preorder--modal-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 100px;
        height: 100%;
    }


    /* Links */
    .preorder--modal-links {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0 20px 20px 20px;
    }

    .preorder--modal-link {
        position: relative;
        border-bottom: 1px solid var(--white);
        display: inline;
        text-align: left;
        padding: 0 0 4px 0;
        width: 100%;
    }

    .preorder--modal-link::after {
        content: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.3034 5.30327C5.91798 4.68879 6.74525 4.33401 7.6141 4.31232C8.48294 4.29063 9.32688 4.60369 9.97136 5.18675L10.094 5.30327L12.01 7.21977C12.6339 7.84482 12.9891 8.68886 12.9998 9.57198C13.0104 10.4551 12.6757 11.3074 12.0669 11.9474C11.4581 12.5873 10.6235 12.9641 9.74087 12.9976C8.85826 13.031 7.99747 12.7185 7.34199 12.1265L7.22004 12.01L5.78239 10.5724C5.66089 10.4505 5.59034 10.2869 5.58509 10.1149C5.57983 9.94287 5.64027 9.77528 5.75411 9.64619C5.86795 9.51709 6.02667 9.43616 6.19802 9.41984C6.36938 9.40352 6.54052 9.45302 6.67669 9.55831L6.74038 9.61453L8.17803 11.0521C8.5507 11.4269 9.05474 11.6418 9.58324 11.6512C10.1117 11.6606 10.6231 11.4638 11.0089 11.1024C11.3946 10.7411 11.6245 10.2437 11.6496 9.71577C11.6747 9.18783 11.4931 8.67087 11.1434 8.27455L11.052 8.17767L9.13601 6.26186C8.94727 6.0731 8.72319 5.92337 8.47658 5.82121C8.22996 5.71906 7.96564 5.66648 7.6987 5.66648C7.43176 5.66648 7.16743 5.71906 6.92082 5.82121C6.6742 5.92337 6.45012 6.0731 6.26139 6.26186C6.13426 6.38888 5.96187 6.46021 5.78216 6.46015C5.60244 6.46008 5.4301 6.38864 5.30306 6.26152C5.17603 6.1344 5.1047 5.96203 5.10476 5.78233C5.10482 5.60262 5.17628 5.4303 5.3034 5.30327ZM0.99181 0.992013C1.60639 0.377524 2.43366 0.022744 3.3025 0.00105605C4.17135 -0.0206319 5.01529 0.292432 5.65977 0.875492L5.78239 0.992013L7.21937 2.43023C7.34087 2.55214 7.41142 2.71573 7.41667 2.88776C7.42193 3.0598 7.3615 3.22739 7.24765 3.35649C7.13381 3.48558 6.97509 3.56651 6.80374 3.58283C6.63238 3.59916 6.46124 3.54965 6.32507 3.44436L6.26139 3.38814L4.82441 1.95127C4.45109 1.58041 3.94847 1.36879 3.42229 1.36093C2.89611 1.35307 2.38739 1.54958 2.00315 1.90913C1.61892 2.26867 1.38912 2.76322 1.36211 3.28873C1.3351 3.81423 1.51298 4.32973 1.85833 4.72677L1.94979 4.82432L3.86643 6.74081C4.24758 7.12182 4.76446 7.33585 5.3034 7.33585C5.84235 7.33585 6.35923 7.12182 6.74038 6.74081C6.80328 6.67787 6.87796 6.62793 6.96016 6.59385C7.04237 6.55977 7.13048 6.54221 7.21947 6.54218C7.30845 6.54215 7.39658 6.55965 7.4788 6.59367C7.56103 6.62769 7.63575 6.67758 7.6987 6.74047C7.76164 6.80337 7.81158 6.87805 7.84567 6.96024C7.87975 7.04244 7.89731 7.13055 7.89734 7.21953C7.89737 7.30851 7.87988 7.39662 7.84585 7.47884C7.81182 7.56106 7.76194 7.63578 7.69903 7.69872C7.08446 8.31321 6.25719 8.66799 5.38834 8.68968C4.5195 8.71136 3.67555 8.3983 3.03108 7.81524L2.90777 7.69872L0.99181 5.78223C0.356755 5.14703 0 4.28563 0 3.38746C0 2.48929 0.356755 1.62721 0.99181 0.992013Z' fill='white'/%3E%3Cpath d='M5.3034 5.30327C5.91798 4.68879 6.74525 4.33401 7.6141 4.31232C8.48294 4.29063 9.32688 4.60369 9.97136 5.18675L10.094 5.30327L12.01 7.21977C12.6339 7.84482 12.9891 8.68886 12.9998 9.57198C13.0104 10.4551 12.6757 11.3074 12.0669 11.9474C11.4581 12.5873 10.6235 12.9641 9.74087 12.9976C8.85826 13.031 7.99747 12.7185 7.34199 12.1265L7.22004 12.01L5.78239 10.5724C5.66089 10.4505 5.59034 10.2869 5.58509 10.1149C5.57983 9.94287 5.64027 9.77528 5.75411 9.64619C5.86795 9.51709 6.02667 9.43616 6.19802 9.41984C6.36938 9.40352 6.54052 9.45302 6.67669 9.55831L6.74038 9.61453L8.17803 11.0521C8.5507 11.4269 9.05474 11.6418 9.58324 11.6512C10.1117 11.6606 10.6231 11.4638 11.0089 11.1024C11.3946 10.7411 11.6245 10.2437 11.6496 9.71577C11.6747 9.18783 11.4931 8.67087 11.1434 8.27455L11.052 8.17767L9.13601 6.26186C8.94727 6.0731 8.72319 5.92337 8.47658 5.82121C8.22996 5.71906 7.96564 5.66648 7.6987 5.66648C7.43176 5.66648 7.16743 5.71906 6.92082 5.82121C6.6742 5.92337 6.45012 6.0731 6.26139 6.26186C6.13426 6.38888 5.96187 6.46021 5.78216 6.46015C5.60244 6.46008 5.4301 6.38864 5.30306 6.26152C5.17603 6.1344 5.1047 5.96203 5.10476 5.78233C5.10482 5.60262 5.17628 5.4303 5.3034 5.30327ZM0.99181 0.992013C1.60639 0.377524 2.43366 0.022744 3.3025 0.00105605C4.17135 -0.0206319 5.01529 0.292432 5.65977 0.875492L5.78239 0.992013L7.21937 2.43023C7.34087 2.55214 7.41142 2.71573 7.41667 2.88776C7.42193 3.0598 7.3615 3.22739 7.24765 3.35649C7.13381 3.48558 6.97509 3.56651 6.80374 3.58283C6.63238 3.59916 6.46124 3.54965 6.32507 3.44436L6.26139 3.38814L4.82441 1.95127C4.45109 1.58041 3.94847 1.36879 3.42229 1.36093C2.89611 1.35307 2.38739 1.54958 2.00315 1.90913C1.61892 2.26867 1.38912 2.76322 1.36211 3.28873C1.3351 3.81423 1.51298 4.32973 1.85833 4.72677L1.94979 4.82432L3.86643 6.74081C4.24758 7.12182 4.76446 7.33585 5.3034 7.33585C5.84235 7.33585 6.35923 7.12182 6.74038 6.74081C6.80328 6.67787 6.87796 6.62793 6.96016 6.59385C7.04237 6.55977 7.13048 6.54221 7.21947 6.54218C7.30845 6.54215 7.39658 6.55965 7.4788 6.59367C7.56103 6.62769 7.63575 6.67758 7.6987 6.74047C7.76164 6.80337 7.81158 6.87805 7.84567 6.96024C7.87975 7.04244 7.89731 7.13055 7.89734 7.21953C7.89737 7.30851 7.87988 7.39662 7.84585 7.47884C7.81182 7.56106 7.76194 7.63578 7.69903 7.69872C7.08446 8.31321 6.25719 8.66799 5.38834 8.68968C4.5195 8.71136 3.67555 8.3983 3.03108 7.81524L2.90777 7.69872L0.99181 5.78223C0.356755 5.14703 0 4.28563 0 3.38746C0 2.48929 0.356755 1.62721 0.99181 0.992013Z' fill='white'/%3E%3C/svg%3E%0A");
        position: absolute;
        right: 0;
    }

    h2 {
        font-weight: bold;
        font-size: 46px;
        margin: 0 0 6px 0;
    }

    h3 {
        font-weight: bold;
        font-size: 32px;
    }

    h4 {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
    }
}

// .preorder--modal > .wp-block-group__inner-container {
//     position: fixed;
//     top: -150%;
//     left: 50%;
//     width: 80%;
//     transform: translate(-50%, -50%);
//     padding: 20px;
//     background: var(--black);

// }


@media screen and (max-width: 767px) {

    .preorder--modal {

        .preorder-modal--left {
            display: none;
        }

        .preorder--modal-columns {
            display: grid;
            grid-template-columns: 1fr;
            align-items: stretch;
        }
 
    }

}