@import './reset.scss';

:root {
    --white: #ffffff;
    --orange: #E96424;
    --black: #000000;

    --side-padding: 50px;
}

@media screen and (max-width: 767px) {
    
    :root {
        --side-padding: 12px;
    }

}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

body.admin-bar header {
    top: 32px;
}

body.admin-bar main {
    padding-top: 52px;
}

@media screen and (max-width: 767px) {
    body.admin-bar main {
        padding-top: 46px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:where(:not(.wp-element-button)) {
    text-decoration: none;
}

.pre-order-link {
    cursor: pointer;
}

footer {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

/* Tour Stuff */
.tour-dates--section-title {
    margin: 30px 0 20px 0;
    font-weight: bold;
}

.tour-page.flier--group {
    padding: 0px var(--side-padding);
}

.flier--group {
    display: grid !important;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    align-items: stretch;
    margin: 0 0 10px 0;

    figure {
        height: 100%;
    }

    img {
        display: block;
        height: 100%;
        max-height: 650px;
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .flier--group {
        grid-template-columns: 1fr;
        
        img {
            max-height: 100% !important;
            width: 100%;
        }
    }

    .tour-page--spacer {
        height: 14px;
    }
}


/* Bandsintown */
.bandsintown-embed.tour {
    padding: 0 var(--side-padding);
}

.bit-widget .bit-upcoming-events {
    margin: 0 0 20px 0 !important;
}

.bit-upcoming-events-show-all-button {
    margin: 0 !important;
}

/* Social Media Icons */
.social-media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.floating-socials {
    position: fixed;
    bottom: 4px;
    right: 8px;
    z-index: 99999;
}

@media screen and (max-width: 767px) {
    .floating-socials {
        display: none
    }
}

@import './navbar.scss';
@import './preorder-modal.scss';
@import './home/hero.scss';
@import './home/singles.scss';
@import './home/latest-video.scss';
@import './home/tours.scss';
@import './home/newsletter.scss';
@import './compact-header.scss';
@import './contact.scss';
@import './navbar--mobile.scss';