.latest-video--container {
    padding: 40px var(--side-padding);

    .latest-video--title {
        position: relative;
        font-size: 32px;
        font-weight: bold;
        color: var(--orange);
        margin: 0 0 20px 0;
    }

    .latest-video--title::before {
        content: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 18.7752V1.22235C0.000363114 1.00274 0.0594072 0.787261 0.170947 0.598507C0.282487 0.409752 0.442416 0.254667 0.633973 0.149503C0.825531 0.0443394 1.04167 -0.00703124 1.25973 0.000773605C1.47779 0.00857845 1.68975 0.0752709 1.87341 0.193864L15.4398 8.96784C15.6116 9.07862 15.7529 9.23109 15.8508 9.41125C15.9487 9.5914 16 9.79344 16 9.99878C16 10.2041 15.9487 10.4062 15.8508 10.5863C15.7529 10.7665 15.6116 10.9189 15.4398 11.0297L1.87341 19.8061C1.68975 19.9247 1.47779 19.9914 1.25973 19.9992C1.04167 20.007 0.825531 19.9557 0.633973 19.8505C0.442416 19.7453 0.282487 19.5902 0.170947 19.4015C0.0594072 19.2127 0.000363114 18.9973 0 18.7776V18.7752Z' fill='%23E96424'/%3E%3C/svg%3E%0A");
        left: -10px;
        top: -5px;
        position: relative;
        display: inline-block;
        width: 10px;
    }

    .latest-video--embed {
        display: flex;
        justify-content: center;
        border: 1px solid var(--orange);

        iframe {
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
        }
    }
}

@media screen and (max-width: 767px) {
    .latest-video--container {
        .latest-video--title {
            font-size: 24px;
        }

        .latest-video--title::before {
            top: -2px;
        }
    }
}