.newsletter--container {
    position: relative;
    height: 100%;
    padding: 400px 40px 40px 40px;

    .newsletter--background-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;

        figure {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
        }

        img {
            object-fit: cover;
            object-position: top center;
            width: 100%;
            height: 100%;
        }
    }

    .newsletter--overlay {
       //margin: auto 40px 40px 40px;
        padding: 40px;
        position: relative;
        z-index: 2;

        h2 {
            font-weight: bold;
            font-size: 32px;
            margin: 0 0 14px 0;
        }
    }

    .mail-embed {
        // display: grid;
        // grid-template-columns: 2fr 2fr 1fr;
        // border-bottom: 2px solid var(--black);
        // margin: 30px 0 0 0;
        

        input {
            display: block;
            padding: 0;
            height: 38px;
            background: transparent;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            border-bottom: 0;
            outline: 0;
            border-radius: 0px !important;
            color: var(--black);
        }

        input:focus {
            background: transparent;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active{
            -webkit-background-clip: text;
            -webkit-text-fill-color: #000000;
            transition: background-color 5000s ease-in-out 0s;
            box-shadow: inset 0 0 20px 20px transparent;
        }

        

        input::placeholder {
            color: var(--black);
        }

        input {
            font-size: 24px;
            font-weight: bold;
            line-height: 0;  
        }

        input[type="submit"] {
            text-align: right;
            cursor: pointer;
            color: var(--black);
        }

    }

    .sib_signup_box_inside_3 {
        display: grid;
        grid-template-columns: 0px 2fr 2fr 1fr;
        border-bottom: 2px solid var(--black);
        margin: 30px 0 0 0;
    }
}

form#sib_signup_form_3 p.sib-alert-message-success {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--black) !important;
    position: absolute;
    bottom: -17px;
}

form#sib_signup_form_3 p.sib-alert-message {
    padding: 0px !important;
}

@media screen and (max-width: 767px) {
    
    .newsletter--container {
        padding: 120px 20px 20px 20px;


        .newsletter--overlay {
            padding: 20px;
        }

        .mail-embed {

            input[type="email"] {
                width: 100%;
                border-bottom: 2px solid var(--black);
            }

            input[type="text"] {
                width: 100%;
                border-bottom: 2px solid var(--black);
            }

            input[type="submit"] {
                text-align: right;
            }
        }

        .sib_signup_box_inside_3 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 14px 0;
        }
    }

}